<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>elevue</title>
    <% if (process.env.NODE_ENV === 'production') { %>
      <!-- 生产环境 -->
      <script>
        document.write('<script src="./config/index.js?t=' + new Date().getTime() + '"><\/script>');
      </script>
      <!-- </script> -->
      <% }else { %>
      <!-- 开发环境 -->
      <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico">
      <script src="./static/config/index.js"></script>
      <script src="./static/plugins/echarts-4.2.1/echarts.min.js"></script>
      <!-- http://123.57.200.101:8080/2011011600/ -->
      <!-- <script src="http://123.57.200.101:8080/2011011600/static/plugins/ueditor-1.5.0/ueditor.config.js"></script>
      <script src="http://123.57.200.101:8080/2011011600/static/plugins/ueditor-1.5.0/ueditor.all.min.js"></script>
      <script src="http://123.57.200.101:8080/2011011600/static/plugins/ueditor-1.5.0/lang/zh-cn/zh-cn.js"></script>
      <script type="text/javascript" charset="utf-8" src="http://123.57.200.101:8080/2011011600/static/plugins/ueditor-1.5.0/ueditor.parse.min.js"></script> -->

      <!-- <script src="./static/plugins/ueditor-1.5.0/ueditor.config.js"></script>
      <script src="./static/plugins/ueditor-1.5.0/ueditor.all.min.js"></script>
      <script src="./static/plugins/ueditor-1.5.0/lang/zh-cn/zh-cn.js"></script>
      <script src="./static/plugins/ueditor-1.5.0/ueditor.parse.min.js"></script> -->
      <script src="https://unpkg.com/wangeditor@4.3.0/dist/wangEditor.min.js"></script>
      <!-- </script> -->
      <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
